{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto mt-5 text-center">
        <div class="card shadow-sm border-danger">
            <div class="card-body">
                <h3 class="text-danger mb-4">Видалити автомобіль?</h3>
                <p>Ви впевнені, що хочете видалити <strong>{{ object.brand }} {{ object.model }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Так, видалити</button>
                    <a href="{% url 'car_list' %}" class="btn btn-secondary">Скасувати</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
